
<configuration>
	<appSettings>
		<!-- Environment Settings -->
		<add key="browser" value="CHROME"/>  <!-- CHROME / FIREFOX / EDGE / OPERA -->
		<add key="screenshot" value="ALWAYS"/>  <!-- ALWAYS / ON_FAIL / NEVER -->
		
		<!-- Tested Application Settings -->
		<add key="App" value="SauceDemoWebsite"/>
		<add key="URL" value="https://www.saucedemo.com/"/>
		<add key="login" value="standard_user"/>
		<add key="password" value="secret_sauce"/>
		
	</appSettings>
</configuration>




